{% extends "base.html" %}

{% load static %}

{% load humanize %}

{% block head %}
 <link href="{% static 'css/questions.css' %}" rel="stylesheet">
  <script src="{% static 'js/questions.js' %}"></script>
{% endblock head %}

{% block title %}{{ question.title }}{% endblock %}
{% block content %}

  <ol class="breadcrumb">
    <li><a href="{% url 'question:questions' %}">Questions</a></li>
    <li class="active">Question</li>
  </ol>

  <div class="row question" question-id="{{ question.id }}">
    <div class="col-md-1 options">
    </div>
    <div class ="col-md-11">
      <h2>{{ question.title }}</h2>
      <div class="question-user">
        <a href="#"><img src="{% static 'img/user.png' %}" class="user"></a>
        <a href="#" class="username">{{ question.user.get_full_name }}</a>
        <small class="asked">asked {{ question.created_on|naturaltime }}</small>
      </div>
      <p>{{ question.description }}</p>
    </div>
  </div>

  <h4 class="page-header">Answers</h4>
  <div class="answers">
    {% for answer in question.get_answers %}
      <div class="row answer" answer-id="{{ answer.id }}">
        {% csrf_token %}
        <div class="col-md-1 options">
          <span class="glyphicon glyphicon-chevron-up vote"></span>
          <span>0</span>
          <span class="glyphicon glyphicon-chevron-down vote"></span>
        </div>

        <div class="col-md-11">
          <div class="answer-user">
            <a href="#"><img src="{% static 'img/user.png' %}" class="user"></a>
            <a href="#" class="username">{{ answer.user.get_full_name }}</a>
            <small class="answered">answered {{ answer.created_on|naturaltime }}</small>
          </div>
          <p>{{ answer.description }}</p>
        </div>
      </div>
      <hr>
    {% endfor %}
    </div>
{% endblock %}









