{% extends 'base.html' %}
{% load static %}
{% block title %}Questions{% endblock %}

{% block head %}
  <link href="{% static 'questions/css/questions.css' %}" rel="stylesheet">
  <script src="{% static 'questions/js/questions.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <a href="{% url 'ask' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-bullhorn"></span> Ask Question
    </a>
    <h1>Questions</h1>
  </div>
  <div class="questions">
    {% for question in questions %}
      {% include 'questions/partial_question.html' with question=question %}
    {% empty %}
      <h4 class="no-data">No question to display}</h4>
    {% endfor %}
    {% include 'paginator.html' with paginator=questions %}
  </div>
{% endblock main %}