{% extends 'base.html' %}
{% load static %}
{% block title %}{{ article.title }}{% endblock %}

{% block head %}
  <link href="{% static 'articles/css/articles.css' %}" rel="stylesheet">
  <script src="{% static 'articles/js/articles.js' %}"></script>
{% endblock head %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="{% url 'article:articles' %}">{% trans 'Articles' %}</a></li>
    <li class="active">{% trans 'Article' %}</li>
  </ol>
  {% include 'articles/partial_article.html' with article=article %}
  {% include 'articles/partial_article_comments.html' with article=article %}
{% endblock %}
